@font-face {
  font-family: sahel;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/sahel/Sahel-Bold.woff') format('woff');
}

@font-face {
  font-family: sahel;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/sahel/Sahel.woff') format('woff');
}


body, h1, h2, h3, h4, h5, h6, span, a, table, article, section, figure, figcaption, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, input,  div, form, .rtl #wpadminbar * {
  font-family: sahel;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: sahel;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .site-branding .site-title, .site-branding .site-description, .site-title a, .site-branding .site-title, .site-branding .site-description, .site-title a {
  font-family: sahel!important;
}

.elementor-265 .elementor-element.elementor-element-37b3fa8 .aux-text , .elementor-265 .elementor-element.elementor-element-3064b72 .aux-text , .elementor-265 .elementor-element.elementor-element-877f042 .aux-modern-heading-description  { 
  font-family: sahel;
}
.elementor-265 .elementor-element.elementor-element-c81f401 .aux-text , p , .elementor-265 .elementor-element.elementor-element-92b4f4d .aux-text,.elementor-265 .elementor-element.elementor-element-50ebf5b .aux-text {  
  font-family: sahel;
}

.elementor-265 .elementor-element.elementor-element-96947ce .elementor-counter-title, .elementor-265 .elementor-element.elementor-element-ce7c7c6 .elementor-counter-title , .elementor-265 .elementor-element.elementor-element-af75577 .elementor-counter-title , .elementor-265 .elementor-element.elementor-element-b4fe004 .elementor-counter-title   {
 font-family: sahel;
}
.elementor-265 .elementor-element.elementor-element-4de4e94 .aux-text , .elementor-265 .elementor-element.elementor-element-dee3d51 .aux-text  {
font-family: sahel;
}

.elementor-265 .elementor-element.elementor-element-6265d02 .entry-info, .elementor-265 .elementor-element.elementor-element-6265d02 .entry-info a {
font-family: sahel;
}

.elementor-265 .elementor-element.elementor-element-8c21381 .aux-text , .elementor-265 .elementor-element.elementor-element-f98ee43 .elementor-testimonial-name ,.elementor-265 .elementor-element.elementor-element-f98ee43 .elementor-testimonial-job  {
font-family: sahel;
}

.elementor-265 .elementor-element.elementor-element-f98ee43 .elementor-testimonial-content {
font-family: sahel;
}

.aux-master-menu .menu-item .aux-menu-label {
    font-family: sahel!important;
}

.elementor-106 .elementor-element.elementor-element-dca8098 .aux-text , .elementor-106 .elementor-element.elementor-element-c9e5210 .aux-text , .elementor-106 .elementor-element.elementor-element-535b4eb .aux-text {
font-family: sahel;
}
.single-post .aux-input-group textarea::placeholder, .aux-input-group input[type="email"]::placeholder, .aux-input-group input[type="url"]::placeholder, input[type="text"]::placeholder {
    font-family: sahel!important;
}

.elementor-250 .elementor-element.elementor-element-881a7dd .wpcf7 input[type="submit"] {
font-family: sahel;
}
.elementor-248 .elementor-element.elementor-element-6b9d7e9 .aux-icon-list-text , .elementor-element.elementor-element-ea0d54d .entry-info a {
font-family: sahel!important;
}

.single-post input[type="submit"] , .single-post .aux-commentlist .comment .comment-body p , .single-post .aux-commentlist .comment .comment-author time a  {
font-family: sahel!important;
}
.single-post .hentry .entry-info a , #reply-title > span , #commentform .comment-notes  {
font-family: sahel!important;
}
.elementor-106 .elementor-element.elementor-element-feb8773 small {
font-family: sahel;
}
.elementor-106 .elementor-element.elementor-element-feb8773 small {
font-family: sahel;
}

