.elementor-248 .elementor-element.elementor-element-8358bdc{margin-top:180px;margin-bottom:98px;}.elementor-248 .elementor-element.elementor-element-d754ebd .aux-modern-heading-primary{font-family:"Oswald", Sans-serif;font-size:60px;font-weight:bold;text-transform:uppercase;line-height:62px;letter-spacing:-1.62px;color:var( --e-global-color-446b4211 );margin:0px 0px 70px 0px;}.elementor-248 .elementor-element.elementor-element-d754ebd{width:auto;max-width:auto;animation-duration:2500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-248 .elementor-element.elementor-element-6b9d7e9 .aux-icon-list-item .aux-list-connector{border-bottom-style:dashed;}.elementor-248 .elementor-element.elementor-element-6b9d7e9 .aux-icon-list-text{color:var( --e-global-color-446b4211 );font-family:"Open Sans", Sans-serif;font-size:16px;font-weight:bold;text-transform:uppercase;line-height:22px;margin:12px 25px 0px 0px;}.elementor-248 .elementor-element.elementor-element-6b9d7e9 .aux-icon-list-icon{color:#24af29;}.elementor-248 .elementor-element.elementor-element-6b9d7e9{width:auto;max-width:auto;animation-duration:2000ms;animation-delay:600ms;}.elementor-248 .elementor-element.elementor-element-ea0d54d .entry-media img{border-radius:25px 25px 25px 25px !important;}.elementor-248 .elementor-element.elementor-element-ea0d54d .entry-title a{color:var( --e-global-color-446b4211 );font-family:"Oswald", Sans-serif;font-size:20px;font-weight:bold;text-transform:uppercase;line-height:25px;letter-spacing:-0.54px;}.elementor-248 .elementor-element.elementor-element-ea0d54d .entry-title{margin-bottom:10px;}.elementor-248 .elementor-element.elementor-element-ea0d54d .entry-info a, .elementor-248 .elementor-element.elementor-element-ea0d54d .entry-info{color:var( --e-global-color-fa67d6f );}.elementor-248 .elementor-element.elementor-element-ea0d54d .entry-info, .elementor-248 .elementor-element.elementor-element-ea0d54d .entry-info a{font-family:"Lato", Sans-serif;font-size:12px;font-weight:400;text-transform:uppercase;line-height:15px;}.elementor-248 .elementor-element.elementor-element-ea0d54d .entry-info{margin-bottom:8px;}.elementor-248 .elementor-element.elementor-element-ea0d54d .entry-content{color:#464646;font-family:"Lato", Sans-serif;font-size:16px;font-weight:400;line-height:26px;letter-spacing:-0.43px;}.elementor-248 .elementor-element.elementor-element-ea0d54d .column-entry{padding:0px 8px 0px 8px;}.elementor-248 .elementor-element.elementor-element-ea0d54d .type-post .entry-main{padding:27px 25px 17px 25px;}.elementor-248 .elementor-element.elementor-element-ea0d54d{text-align:left;z-index:5;animation-duration:2000ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:767px){.elementor-248 .elementor-element.elementor-element-d754ebd .aux-widget-inner > *{text-align:center;margin-left:auto !important;margin-right:auto !important;}.elementor-248 .elementor-element.elementor-element-d754ebd .aux-modern-heading-primary{margin:0px 0px 0px 0px;}.elementor-248 .elementor-element.elementor-element-d754ebd{width:100%;max-width:100%;}.elementor-248 .elementor-element.elementor-element-6b9d7e9 > .elementor-widget-container{margin:0px 0px 31px 0px;}.elementor-248 .elementor-element.elementor-element-6b9d7e9{width:100%;max-width:100%;}}/* Start custom CSS for aux_icon_list, class: .elementor-element-6b9d7e9 */.elementor-248 .elementor-element.elementor-element-6b9d7e9 {
     margin-left: auto;
}
@media screen and (max-width: 767px){
.elementor-248 .elementor-element.elementor-element-6b9d7e9 .aux-icon-list-text, .elementor-248 .elementor-element.elementor-element-6b9d7e9 .aux-icon-list-item {
    margin: auto!important;
}
}/* End custom CSS */
/* Start custom CSS for aux_recent_posts, class: .elementor-element-ea0d54d */.elementor-248 .elementor-element.elementor-element-ea0d54d .aux-widget-recent-posts .aux-grid-carousel-modern-layout .entry-main {
    width: 87%;
    position: absolute;
    top: auto;
    bottom:41px;
    right: 0;
    left: 0;
    transition: none;
}
.elementor-248 .elementor-element.elementor-element-ea0d54d .entry-main{
    border-radius: 25px;
}
.elementor-248 .elementor-element.elementor-element-ea0d54d .aux-col:hover .aux-attachment{
    transform: none;
    box-shadow: 16px 23px 52px rgba(0,0,0,0.52);
}
.elementor-248 .elementor-element.elementor-element-ea0d54d .aux-media-frame{
    overflow: visible;
}
@media screen and (max-width: 1231px)and (min-width: 992px){
.elementor-248 .elementor-element.elementor-element-ea0d54d .entry-content{
    font-size: 13px;
    height: 72px;
    overflow: hidden;
}
.elementor-248 .elementor-element.elementor-element-ea0d54d .entry-main{
    bottom: 31px!important;
}
}
.elementor-248 .elementor-element.elementor-element-ea0d54d .aux-col{
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: -12px;
}
@media screen and (max-width: 767px){
.elementor-248 .elementor-element.elementor-element-ea0d54d .entry-media img {
       width: 100%;
}
}
@media screen and (max-width: 767px)and (min-width: 542px){
.elementor-248 .elementor-element.elementor-element-ea0d54d .aux-widget-recent-posts .aux-grid-carousel-modern-layout .entry-main {
    width: 92%!important;
}
}/* End custom CSS */